@import "../assets/fonts/font/fonts.css";

$color-menu-back: #242424;
$color-grey-dark: #3D3C3C;
$color-light: #F6F6F6;
$color-grey-light: #C4C4C4;
$color-white: #FFFFFF;
$color-black: #000000;
$color-dark-gold: #AB955E;
$color-gold: #BCA56A;
$color-light-gold: #D9C287;
$color-borders: #E3E3E3;

//fonts

/*$font-navigation-button: 500 14px/24px 'Euclid Circular B', sans-serif;
$font-h1: 400 96px/96px 'SangBleu Kingdom';
$font-h1-360: 400 64px/72px 'SangBleu Kingdom';
$font-discont: 600 24px/32px 'Euclid Circular A', sans-serif;
$font-title: 700 40px/56px 'SangBleu Kingdom';
$font-subtitle: 300 24px/32px 'Euclid Circular A', sans-serif;
$font-subtitle-360: 300 17px/32px 'Euclid Circular A', sans-serif;
$font-link-more: 600 10px/24px 'Euclid Circular A', sans-serif;
$font-allinclusive__title: 700 48px/56px 'SangBleu Kingdom';
$font-choice-holiday__content: 400 18px/32px 'SangBleu Kingdom';
$font-allinclusive__content: 300 16px/24px 'Euclid Circular A', sans-serif;
$font-menu-content: 300 16px/24px 'Euclid Circular B', sans-serif;
$font-mail: 500 14px/24px 'Euclid Circular B', sans-serif;*/